.warna1 {
    background-color: #876445;
}

.warna2 {
    background-color: #CA965C;
}

.warna3 {
    background-color: #EEC373;
}

.warna4 {
    background-color: #F5CCA0;
}

.banner {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/baner.jpg');
    background-size: cover;
}

.highlighted-kategori {
    height: 250px;
}

.kategori-baju-pria {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/baju-pria1.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-baju-wanita {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/baju-wanitaa.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-sepatu {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../image/sepatu.jpg');
    background-size: cover;
    background-position: center;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration:hover {
    color: #a8cdf8;
}

.text-harga {
    font-size: 20px;
    color: #CA965C;
}

.image-box {
    height: 250px;

}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.content-subscribe {
    background-color: rgba(0, 0, 0, 0.7);
}

.content-subscribe a {
    color: #fff;
}

.banner-produk {
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/baner.jpg');
    background-size: cover;
    background-position: 50% 20%;
}

.produk-terkait-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}